<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buelvas Coach</title>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200;400&family=Radio+Canada&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos.css">
</head>
<body background="">
    
        <section class="encabezado">
           <header>
            <nav>
                
                <ul class="menu-horizontal">
                    <li><a href="/views/interfaces-usuario/panel_bienvenida/index.html">Inicio</a></li>
                    <li><a href="#">Categorias</a>
                        <ul class="menu-vertical">
                            <li><a href="#">El Arte De Conversar</a></li>
                            <li><a href="#">Comunica Asertivamente</a></li>
                            <li><a href="#">Acaba Con la Timidez</a></li>
                            <li><a href="#">Habla Asertiva</a></li>
                        </ul>
                    </li>                       
                    <li>
                        <a href="#">Menú</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#">Evidencias</a></li>
                            <li><a href="#">Notas</a></li>
                            <li><a href="#">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="#">Cursos</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Finanzas Personales</a></li>
                            <li><a href="#">Educación Fianaciera</a></li>
                        </ul>
                    
                    </li>
                    
                </ul>  
                
            </nav>

        </header> 
            
        </section>

        <main>

        <section class="bienvenida">
            <div class="contenedor__bienvenida">      
                <img src="/img/LB_Logo-06.png" class="logo">      
            </div>
        </section>

        <section class="contenido__central-1">
            <div class="cursos">
                <p class="acceso__cursos">Accede a Nuestros Cursos Ya!</p>
                <p class="conocimientos">Con estos cursos aprenderas nuevas cosas, que aporten a tu vida</p>
            </div>
        </section>

        <section class="contenido__central-2">
            <div class="contenedor__link-cursos">
                <p class="link__cursos">Link De Los Cursos</p>
                <a href="#" class="boton__link-2">
                     <button class="boton__aqui">Aquí</button>
                </a>
            </div>

        </section>

        <section class="seccion__footer">

                    <footer>

                        <div class="contenedor__footer">
            
                        <div class="contenedor__titulo-footer">
                            <h3 class="titulo__footer">Contacto</h3>
                        </div>
                            <ul class="lista__contacto">
            
                                <div class="contenedor__listas">
                                    <a href="#"><li class="lista">Dirección</li></a>
                                    <i class="fa-solid fa-location-dot icono__direccion"></i>
                                </div>
            
                                <div class="contenedor__listas">
                                    <a href="#"><li class="lista">3205859761</li></a>
                                    <i class="fa-solid fa-square-phone-flip icono__telefono"></i>  
                                </div>
            
                                <div class="contenedor__listas">
                                    <a href="#"><li class="lista">actorador@email.com</li></a>
                                    <i class="fa-solid fa-envelope icono__correo"></i>
                                </div>
                            
                                                     
                                 
                        
                            </ul>
            
                        </div>
            
                        <div class="contenedor__footer">
            
                        <div class="contenedor__titulo-footer">
                            <h3 class="titulo__footer">Redes</h3>
                        </div>
            
                        <ul class="lista__redes">
                            
                            <div class="contenedor__listas">
                                <a href="#"><li class="lista">Instagram</li></a>
                                <i class="fa-brands fa-instagram icono__instagram"></i>
                            </div>
                            
                            <div class="contenedor__listas">
                                <a href="#"><li class="lista">Facebook</li></a>
                                <i class="fa-brands fa-facebook icono__facebook"></i>
                            </div>
            
                            <div class="contenedor__listas">
                                <a href="#"><li class="lista">Youtube</li></a>
                                <i class="fa-brands fa-youtube icono__youtube"></i>
                            </div>
                            
                            
                            
                        </ul>
            
                    </div>
            
                       <div class="contenedor__footer">
            
                        <div class="contenedor__titulo-footer">
                            <h3 class="titulo__footer">Información</h3>
                        </div>
            
                        <ul class="lista__informacion">
                            <a href="#"><li class="lista">Quienes Somos?</li></a>
                            <a href="#"><li class="lista">Sugerencias</li></a>
                            <a href="#"><li class="lista">Referencias</li></a>
                        </ul>
            
                    </div>

                    
                </footer>

        </section>
    </main>
   
    
</body>
</html>